.block {
	&-header {
		min-height: 370px;
	}
	&-tittle {
		padding-top: 121px;
		font-family: 'Lato';
		font-size: 44px;
		font-weight: 700;
		line-height: 54px;
		text-align: center;
	}
	&-desc {
	
		font-size: 22px;
		font-weight: 400;
		line-height: 34px;
		padding: 37px 0 75px;
		max-width: 785px;
		margin: 0 auto;
		text-align: center;
	}
}
.features {

	&-tittle {
		font-family: 'Lato';
		font-size: 26px;
		font-weight: 700;
		line-height: 34px;
	}
	&-desc {

		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		}
	&-icon {
		float: left;
		padding-right: 30px;
		min-height: 300px;	
	}

}