$container-width: 1170px !default;
$container-gutter: 0 10px !default;

html {
	box-sizing: border-box;
	-webkit-text-adjust: 100%;
}
*,
&:before,
&:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.wrapper {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100vh;
	table-layout: fixed;
}
.container {
	margin: auto;
	max-width: $container-width;
	padding: $container-gutter;
}
.footer {
	display: table-footer-group;
	height: 1%;
}
.brand-title {
	text-align: center;
	color: white;
	font-family: 'Lato';
	font-size: 5.8vw;
	font-weight: 900;
	line-height: 88px;
	text-transform: uppercase;
	padding-top: (220 / 1170 * 100%);
}
.brand-desc {
	color: #a3b1bf;
	font-size: 24px;
	font-weight: 400;
	line-height: 33px;
	max-width: 943px;
	text-align: center;
	margin: 0 auto;
	padding-top: (32 / 1170 * 100%);
	padding-bottom: (63 / 1170 * 100%);
}
.brand-link {
	text-align: center;
	padding-bottom: (270 / 1170 * 100%);
}
.owl-theme .owl-controls {
    position: absolute;
    background: #fff;
    /* margin-top: 10px; */
    bottom: -34px;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

    border-radius: 4px;
    width: 145px;
    /* margin: auto; */
    padding-top: 6px;
    text-align: center;
}