.info {
	&-tittle {
		font-family: 'Lato';
		font-size: 44px;
		font-weight: 700;
		line-height: 54px;
		text-align: center;
	}
	&-desc {
		padding: 40px 218px;
		text-align: center;
	}
	&-button {
		text-align: center;
	}
}