@media all and (max-width: 768px) {
 .navbar {
 &-logo {
    padding-right: 0;
    float: none;
    display: inline-block;
 }
 &-item {
    text-align: center;
    display: block;
 }
 &-nav {
 	display: none;
 }
 &-toggler {
 	display: block;
 }
 &-link:hover {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
}
input[type=checkbox]:checked ~ .to-be-changed {
    display: block;   
}
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
}
@media all and (max-width: 480px) {
 .brand-desc {
 	font-size: 18px;
 }
.block-title {
    font-size: 24px;
}
.block-desc {
	font-size: 16px;
}
.info-desc {
	font-size: 16px;
}
.card-desc {
	font-size: 16px;
}

}

@media all and (max-width: 320px) {
.card-name {
    font-size: 15px;
}
.owl-carousel {
    padding: 40px 0;
}
}