@media all and (max-width: 480px) {
 .brand-desc {
 	font-size: 18px;
 }
.block-title {
    font-size: 24px;
}
.block-desc {
	font-size: 16px;
}
.info-desc {
	font-size: 16px;
}
.card-desc {
	font-size: 16px;
}

}