@media all and (max-width: 768px) {
 .navbar {
 &-logo {
    padding-right: 0;
    float: none;
    display: inline-block;
 }
 &-item {
    text-align: center;
    display: block;
 }
 &-nav {
 	display: none;
 }
 &-toggler {
 	display: block;
 }
}
}
@media all and (max-width: 480px) {
 .brand-desc {
 	font-size: 18px;
 }
.block-title {
    font-size: 24px;
}
.block-desc {
	font-size: 16px;
}
.info-desc {
	font-size: 16px;
}
.card-desc {
	font-size: 16px;
}
}

@media all and (max-width: 320px) {
.card-name {
    font-size: 15px;
}
}