.navbar {
	padding: 37px 0;
	@include clearfix;
	&-logo {
		padding-right: 80px;
		float: left;
		img {
			display: block;
			height: auto;
		}
	}
	&-nav {
	
		list-style: none;
		padding: 10px 0 0;
		margin: 0;
	
		font-size: 0;
	    text-align: justify;
	}
	&-item {
		display: inline-block;
		vertical-align: top;
	}

	&-link {
		display: block;
		color: #506a85;
		font-family: $font-family-base;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&-collapse {

	}
	&-toggler {
		display: none;
		width: 50px;
		height: 50px;
		float: right;
		padding: 10px;
		color: blue;
	}
	&-icon {
		float: right;
	}
}
.navbar-nav:after {
		width: 100%;	
		content: "";
		display: inline-block;
}

   input[type="submit"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	text-indent: -9999px;
    background: url(../images/search.png) no-repeat 50%; /* Параметры фона */
   }
   input[type="search"] {

    border: 1px solid #70859b; 
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -731px;
    right: -340px;
 
    background-color: #f9f9f9;
    z-index: 1;
}
.ddmenu {
	width: 100%;
	height: auto;
}
.dropdown:hover .dropdown-content {
    display: block;
}
