$font-family-base: 'Source Sans Pro', sans-serif ;

$container-width: 1170px;
$container-gutter: 0 10px;

$body-color: #506a85;

$btn-bg: #17a78b;
$btn-color: #fff;
$btn-color-hover: #fff;
$btn-font-size: 15px;
$btn-border-radius: 2px;
$btn-bg-hover: #148e76;

$link-color: white;


$form-border-radius: 2px;
$form-bg: transparent;